
@model MvcMovie.Models.Product

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Product</h1>
    
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.buildings[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buildings[0].full_name_of_the_building_administrator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buildings[0].email_of_the_administrator_of_the_building)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buildings[0].phone_number_of_the_building_administrator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var building in Model.buildings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => building.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => building.full_name_of_the_building_administrator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => building.email_of_the_administrator_of_the_building)
            </td>
            <td>
                @Html.DisplayFor(modelItem => building.phone_number_of_the_building_administrator)
            </td>
            <td>
            <a asp-action="BuildingEdit" asp-route-id="@building.Id">Edit</a> |  
            </td>
        </tr>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.batteries[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.batteries[0].battery_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.batteries[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
<tbody>
@foreach (var battery in Model.batteries) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => battery.Id)
        </td>
            <td>
            @Html.DisplayFor(modelItem => battery.battery_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => battery.Status)
        </td>
    </tr>
}   


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.columns[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.columns[0].column_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.columns[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
<tbody>
@foreach (var column in Model.columns) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => column.Id)
        </td>
            <td>
            @Html.DisplayFor(modelItem => column.column_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => column.Status)
        </td>
    </tr>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.elevators[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.elevators[0].elevator_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.elevators[0].Status)
            </th>
        </tr>
    </thead>
<tbody>
@foreach (var elevator in Model.elevators) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => elevator.Id)
        </td>
            <td>
            @Html.DisplayFor(modelItem => elevator.elevator_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => elevator.Status)
        </td>
    </tr>
}    

    </tbody>
</table>